.topbar
    width: 100%
    max-width: 100%
    height: 50px
    border: 1px solid #cf3232
    margin: 0px
    background-color: #cf3232
    &__list
        display: flex
        flex-direction: row
        justify-content: left
        &__item
           padding-left: 10px
           padding-right: 10px
           list-style: none
        
.top_link
    text-decoration: none
    color: #ffffff
    font-size: large
    